table, th,td{
      border: 1px solid black;
      border-collapse: collapse;
      padding: 10px;
}

.background{
      width: 40vw;
      text-align: center;
}

.home{
     background: #fccaeb;
     padding: 30px;
}

.heading{
      background-color: yellow;
}

.time{
      background: lightgray;
}